<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>775983677680-e5qujjbttg0b70ecrbm1jl9ltl99n3jq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.775983677680-e5qujjbttg0b70ecrbm1jl9ltl99n3jq</string>
	<key>API_KEY</key>
	<string>AIzaSyCpoFvQ2qEm024DMqgJKyIYlecn5YjoGg8</string>
	<key>GCM_SENDER_ID</key>
	<string>775983677680</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.movehubs.sendowner</string>
	<key>PROJECT_ID</key>
	<string>sendshop-a0a00</string>
	<key>STORAGE_BUCKET</key>
	<string>sendshop-a0a00.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:775983677680:ios:78c0ec95227fba2a7fc235</string>
	<key>DATABASE_URL</key>
	<string>https://sendshop-a0a00.firebaseio.com</string>
</dict>
</plist>